<article class="rb-game-card">
    <a class="rb-game-card__media" href="{{ include.game.url }}">
        <img src="/assets/games/{{ include.game.slug | lowercase }}/banner.webp" alt="{{ include.game.title }} banner">
    </a>
    <div class="rb-game-card__content">
        <div class="rb-game-card__topline">
            <img class="rb-game-card__icon" src="/assets/games/{{ include.game.slug | lowercase }}/app-icon.webp" alt="{{ include.game.title }} icon">
            <div>
                <p class="rb-game-card__kicker">Released {{ include.game.release_date | date: "%Y" }}</p>
                <h3 class="rb-game-card__title"><a href="{{ include.game.url }}">{{ include.game.title }}</a></h3>
            </div>
        </div>
        <p class="rb-game-card__description">{{ include.game.description | default: include.game.content | strip_html | normalize_whitespace }}</p>
        {% include platform-buttons.html game=include.game %}
    </div>
</article>
