    <div class="uk-container uk-container-small uk-padding">
        <div class="uk-card uk-card-secondary uk-border-rounded">
            <img class="uk-border-rounded" src="assets/games/{{ include.data.slug | lowercase }}.png"
                 alt="{{ include.data.title }}"/>
            <div class="uk-card-body">
                <h2>{{ include.data.title }}</h2>
                {{ include.data }}
                <a href="{{ include.data.android-url }}" target="_blank" class="uk-button uk-button-primary">
                    <span uk-icon="android-robot"></span> Google Play </a>
            </div>
        </div>
    </div>
